In [25]:
import pandas as pd
import requests


INTEREST_RATES_API = "https://www.mas.gov.sg/api/v1/bondsandbills/m/savingbondsinterest"
SSB_INFO_API = "https://www.mas.gov.sg/api/v1/bondsandbills/m/listsavingbonds"

In [19]:
# Getting the total number of SSBs in history
resp = requests.get(f"{INTEREST_RATES_API}?rows=1")
if resp.status_code == 200:
    num_ssb = resp.json()['result']['total']
else:
    raise AssertionError(f'Failed API request')

In [31]:
interest_rates_df = requests.get(f"{INTEREST_RATES_API}?rows={num_ssb}").json()['result']['records']
interest_rates_df = pd.DataFrame(interest_rates_df)
ssb_info_df = requests.get(f"{SSB_INFO_API}?rows={num_ssb}").json()['result']['records']
ssb_info_df = pd.DataFrame(ssb_info_df)

In [32]:
interest_rates_df.head()

,issue_code,year1_coupon,year1_return,year2_coupon,year2_return,year3_coupon,year3_return,year4_coupon,year4_return,year5_coupon,...,year6_coupon,year6_return,year7_coupon,year7_return,year8_coupon,year8_return,year9_coupon,year9_return,year10_coupon,year10_return
0,GX15100F,0.96,0.96,1.09,1.02,1.93,1.32,2.93,1.71,3.25,...,3.25,2.20,3.25,2.34,3.25,2.44,3.30,2.53,3.70,2.63
1,GX15110T,1.18,1.18,1.20,1.19,2.06,1.48,3.10,1.87,3.40,...,3.40,2.35,3.40,2.49,3.40,2.59,3.44,2.68,3.83,2.78
2,GX15120V,1.15,1.15,1.15,1.15,1.65,1.31,2.41,1.58,2.81,...,2.81,1.97,2.93,2.10,3.08,2.21,3.29,2.32,3.64,2.44
3,GX16010N,1.21,1.21,1.31,1.26,1.92,1.48,2.63,1.76,3.00,...,3.00,2.15,3.07,2.27,3.16,2.37,3.34,2.47,3.69,2.58
4,GX16020F,1.00,1.00,1.12,1.06,1.81,1.31,2.62,1.63,3.01,...,3.01,2.07,3.03,2.19,3.10,2.30,3.27,2.39,3.65,2.50

In [33]:
ssb_info_df.head()

,issue_code,isin_code,auction_tenor,issue_size,amt_applied,total_applied_within_limits,amt_alloted,rndm_alloted_amt,rndm_alloted_rate,cutoff_amt,...,sb_int_1,sb_int_2,payment_month,issue_date,maturity_date,ann_date,last_day_to_apply,tender_date,start_of_redemption,end_of_redemption
0,GX15100F,SG6YI1000007,10.0,1200.0,418.1975,413.1610,413.1610,0.0,0.0,0.05,...,2015-10-01,2015-04-01,"Oct,Apr",2015-10-01,2025-10-01,2015-09-01,2015-09-25,2015-09-28,2015-09-01,2015-09-25
1,GX15110T,SG6YI2000006,10.0,1200.0,259.3535,257.3285,257.3285,0.0,0.0,0.05,...,2015-11-01,2015-05-01,"Nov,May",2015-11-02,2025-11-01,2015-10-01,2015-10-27,2015-10-28,2015-10-01,2015-10-27
2,GX15120V,SG6YI3000005,10.0,1200.0,41.3775,40.9875,40.9875,0.0,0.0,0.05,...,2015-12-01,2015-06-01,"Dec,Jun",2015-12-01,2025-12-01,2015-11-02,2015-11-25,2015-11-26,2015-11-02,2015-11-25
3,GX16010N,SG6YI4000004,10.0,300.0,44.4270,43.9570,43.9570,0.0,0.0,0.05,...,2015-01-01,2015-07-01,"Jan,Jul",2016-01-04,2026-01-01,2015-12-01,2015-12-28,2015-12-29,2015-12-01,2015-12-28
4,GX16020F,SG6ZG0000009,10.0,300.0,28.7735,28.4005,28.4005,0.0,0.0,0.05,...,2016-02-01,2016-08-01,"Feb,Aug",2016-02-01,2026-02-01,2016-01-04,2016-01-26,2016-01-27,2016-01-04,2016-01-26

In [36]:
pd.merge(interest_rates_df, ssb_info_df, on='issue_code').to_csv('analysis.csv', index=False)